## Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarised.

***Objectives:***
List popular languages for Data Science
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists are:
1. Matplotlib
2. Pandas
3. Numpy

Data Science Tools
------------------
Apache Hadoop

Apache Hive

Apache Spark

### Below are a few examples of evaluating arithmetic expressions of python

In [1]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Prapti Nikam